# ────────────────
# Dependencias
node_modules/

# ────────────────
# Compilados y builds
.next/
out/
dist/
*.log

# ────────────────
# Configuración / entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ────────────────
# SO y editores
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# ────────────────
# Tests y cobertura
coverage/
*.lcov

# ────────────────
# Otros gestores de paquetes
yarn.lock
pnpm-lock.yaml

